@using BlueCardPortal.Core.Contracts
@using BlueCardPortal.Infrastructure.Model.Application
@inject INomenclatureService nomenclatureService;
@model AddressVM
<div class="address-container item-template">
    @if ((Model.KindDDL?.Count ?? 0) > 0)
    {
        <div class="row mb-2">
            <div class="col-12">
                @Html.EditorFor(x => x.Kind, "RadioButtonList", new
                    {
                        Ddl = Model.KindDDL,
                        @class = "address-kind",
                        container_css = "width-100-minus-btn",
                        label = "&nbsp;",
                     })
                @{
                    await Html.RenderPartialAsync("_RemoveItem");
                }

            </div>
        </div>
    }
    else
    {
        @Html.HiddenFor(x => x.Kind)
    }
    @{
        await Html.RenderPartialAsync("_AddressFields", Model);
    }
</div>
