@using BlueCardPortal.Infrastructure.Model.Application
@model ApplicationInfoVM
<div class="row mb-2">
    <div class="col-12">
        @Html.EditorFor(x => x.AdditionalInfo, "Textarea")
    </div>
</div>
