@using Microsoft.Extensions.Localization
@inject IHtmlLocalizer<BlueCardPortal.SharedResource> Localizer
@{
    string title = Localizer["ApplicationDraftListTitle"].Value;

    ViewData["Title"] = title;
    await Html.RenderPartialAsync("_TitleWithBack", title);
}
@section Styles {
    <link href="~/css/gridview.css" rel="stylesheet" />
    <link href="~/css/theme.css" rel="stylesheet" />
}
<div class="row">&nbsp;</div>
<div id="dvMain" data-url='@Url.Action("ListApplicationDraft", "Application")'></div>

@section Scripts {
    <script src="~/js/gridview.columns.js"></script>
    <script src="~/js/gridview.js"></script>
    <script src="~/js/application-index-draft.js"></script>
}