@using Microsoft.Extensions.Localization
@inject IStringLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Applications"];
}
@using BlueCardPortal.Infrastructure.Model.ApplicationList
@model ApplicationFilterVM;
<div class="row">&nbsp;</div>
<div class="row">
    <div class="col-md-4">
        <a class="u-btn u-btn--search u-bg--c5" data-bs-toggle="offcanvas" data-bs-target="#searchOffcanvas" aria-controls="searchOffcanvas">Търсене на заявление</a>
    </div>
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <a asp-controller="Application" asp-action="Add" class="u-btn u-btn--person">Подаване на ново заявление</a>
    </div>
</div>

<div id="dvMain" data-url="@Url.Action("ListApplication", "Application")"></div>
<div class="details offcanvas offcanvas-end" tabindex="-1" id="searchOffcanvas" aria-labelledby="searchOffcanvasLabel">
    @{
        await Html.RenderPartialAsync("_ApplicationFilter", Model);
    }
</div>
@section Styles {
    <link href="~/css/gridview.css" rel="stylesheet" />
    <link href="~/css/theme.css" rel="stylesheet" />
}

@section Scripts {
    <script src="~/js/gridview.columns.js"></script>
    <script src="~/js/gridview.js"></script>
    <script src="~/js/application-index-all.js"></script>
    <script src="~/js/application-index.js"></script>
}