/* CSS */
.steps {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    position: relative;
}

.step-button {
    width: 32px;
    height: 32px;
    border-radius: 3%;
    border: none;
    background-color: var(--buttons-step-future);
    transition: .4s;
}

    .step-button[aria-expanded="true"] {
        background-color: var(--buttons-buttons-style1-normal);
        color: #fff;
    }

.done {
    background-color: var(--buttons-step-done);
    color: var(--buttons-step-done-text);
}

.step-item {
    z-index: 10;
    text-align: center;
}

#progress {
    -webkit-appearance: none;
    position: absolute;
    width: calc(100% - 2rem);
    z-index: 5;
    height: 1px;
    margin-left: 18px;
    margin-right: 18px;
    margin-top: 1rem;
}

    /* to customize progress bar */
    #progress::-webkit-progress-value {
        background-color: var(--buttons-step-done);
        transition: .1s ease;
    }

    #progress::-webkit-progress-bar {
        background-color: var(--buttons-step-future);
    }

.steps-container {
    background: #fff;
    padding: 20px;
}

.btn-step-container {
    display: flex;
    position: relative;
}

.btn-step {
    display: flex;
    border: none;
    box-shadow: none;
    justify-content: space-between;
    align-items: center;
    border-radius: var(--radius-radius-rounded, 4px);
    font-family: "Sofia Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 100% */
    padding: 0px;
}

.flex-align-left {
    text-align: left;
}

.flex-align-right {
    text-align: right;
}

.btn-step-icon {
    display: flex;
    width: 52px;
    height: 52px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.btn-step-long{
    width: 15rem;
}
.button-close {
    background: url(../images/button_close.svg);
}
.button-reload {
    background: url(../images/button_reload.svg);
}
.button-back {
    background: url(../images/button_back.svg);
}

.step-data-container {
   min-height: 50vh; 
}

.u-btn--delete {
    min-width: 3rem !important;
    min-height: 3rem !important;
}


.u-btn--user-edit {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-width: 3rem !important;
    min-height: 3rem !important;
    padding: 1rem;
    background-image: url(../images/bc/user-edit.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 4px;
}

    .u-btn--user-edit:disabled {
        border: 1px solid #99a3a7;
    }

    .u-btn--user-edit:hover, .u-btn--user-edit:focus {
        background-image: url(../images/bc/user-edit.svg);
    }