@using BlueCardPortal.Infrastructure.Model.ApplicationList
@using Microsoft.Extensions.Localization
@inject IHtmlLocalizer<BlueCardPortal.SharedResource> Localizer
@model ApplicationFilterVM;
<div class="details__body offcanvas-body">
    <div class="form-container">
        <button type="button" class="btn u-btn u-btn--light u-btn--clear-search ms-auto w-100" data-bs-dismiss="offcanvas">Затвори</button>
        <h3 class="section-title">@Localizer["SearchApplicationTitle"]</h3>
        <form id="formApplicationFilter" class="search-form" action="POST">
            @Html.AntiForgeryToken()
            @{
                await Html.RenderPartialAsync("_ApplicationFilterFields", Model);
            }
            <button type="button" class="btn u-btn  u-btn--light u-btn--clear-search ms-auto w-100" data-bs-dismiss="offcanvas" onclick="clearApplicationFilter()">Изчисти филтъра</button>
            <br/>
            <button type="button" class="btn u-btn  u-btn--light u-btn--search ms-auto w-100" data-bs-dismiss="offcanvas" onclick="searchApplication()">Търсене</button>
        </form>
        
    </div>
</div>