@using BlueCardPortal.Core.Contracts
@using BlueCardPortal.Infrastructure.Constants
@using BlueCardPortal.Infrastructure.Model.Application
@inject INomenclatureService nomenclatureService;
@model AddressVM
<div >
    <div class="row mb-2">
        <div class="col-12">
            @Html.DisplayFor(x => x.Kind, "Nomenclature", new { NomenclatureType = NomenclatureTypes.ADDRESSE_TYPE })
        </div>
    </div>
    @{
        await Html.RenderPartialAsync("_AddressFields", Model);
     }
</div>
