@using BlueCardPortal.Infrastructure.Model.Application
@model ApplicationInfoVM
<div class="row mb-2">
    <div class="col-12">
        @Html.DisplayFor(x => x.AdditionalInfo, "StringNullable")
    </div>
</div>
